<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>3140 North 700 East, North Ogden, UT 84414</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "3852887864" %></p>

    <h3>Email</h3>

    <p><a href="mailto:bauerjo@wsdstudent.net?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.5553862912684!2d-111.95911968436458!3d41.318535008223066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530ca1977c2b19%3A0x36d75f702679e81a!2s3140+N+700+E%2C+Ogden%2C+UT+84414!5e0!3m2!1sen!2sus!4v1500568374319" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>